## Settings file was created by plugin GeneralImprovements v1.0.18
## Plugin GUID: ShaosilGaming.GeneralImprovements

[Fixes]

## If set to true, the player will face the interior of the facility when entering through a fire entrance.
# Setting type: Boolean
# Default value: true
FixInternalFireExits = true

## Fixes items falling through furniture on the ship when loading the game.
# Setting type: Boolean
# Default value: true
FixItemsFallingThrough = true

## Constantly displays the sum of all scrap value on the ship underneath the deadline text.
# Setting type: Boolean
# Default value: true
ShowShipTotalBelowDeadline = true

## If set to true, will tweak the behavior of the scan action and more reliably ping items closer to you.
# Setting type: Boolean
# Default value: true
FixPersonalScanner = true

[General]

## Skips the main menu loading screen bootup animation.
# Setting type: Boolean
# Default value: true
SkipStartupScreen = true

## If set to 'ONLINE' or 'LAN', will automatically launch the correct mode, saving you from having to click the menu option when the game loads.
# Setting type: String
# Default value: 
AutoSelectLaunchMode = ONLINE

## When picking up items, will always put them in left - right order.
# Setting type: Boolean
# Default value: true
PickupInOrder = true

## When dropping items, will rearrange other inventory items to ensure slots are filled left - right.
# Setting type: Boolean
# Default value: true
RearrangeOnDrop = true

## When picking up a two handed item, it will always place it in slot 1 and shift things to the right if needed. Makes selling quicker when paired with RearrangeOnDrop.
# Setting type: Boolean
# Default value: true
TwoHandedInSlotOne = true

## The minimum time you must wait to scroll to another item in your inventory. Ignores values outside of 0.05 - 0.3. Vanilla: 0.3.
# Setting type: Single
# Default value: 0.1
ScrollDelay = 0.1

## How many items to keep in your terminal's command history. Ignores values outside of 0 - 100. Previous terminal commands may be navigated by using the up/down arrow keys.
# Setting type: Int32
# Default value: 10
TerminalHistoryItemCount = 10

## If set to true, the game will not show the clipboard or sticky note when the game loads.
# Setting type: Boolean
# Default value: false
HideClipboardAndStickyNote = false

## If set to true, The ship will show extra information (sales, weather, etc) on various unused monitors in the ship.
# Setting type: Boolean
# Default value: true
ShowExtraShipMonitors = true

## If set to true, The smaller monitors above the map screen will turn off and on when the map screen power is toggled.
# Setting type: Boolean
# Default value: true
SyncLittleScreensPower = true

[Tweaks]

## How much starting money the group gets per player. Set to -1 to disable. Ignores values outside of -1 - 1000. Adjusts money as players join and leave, until the game starts.
# Setting type: Int32
# Default value: 30
StartingMoneyPerPlayer = 30

## Build mode will switch to snap turning (press instead of hold) by this many degrees at a time. Setting it to 0 uses vanilla behavior. Must be an interval of 15 and go evenly into 360.
# Setting type: Int32
# Default value: 45
SnapObjectsByDegrees = 45

## If SnapObjectsByDegrees > 0, configures which modifer key activates free rotation. Valid values: None, Space, Enter, Tab, Backquote, Quote, Semicolon, Comma, Period, Slash, Backslash, LeftBracket, RightBracket, Minus, Equals, A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z, Digit1, Digit2, Digit3, Digit4, Digit5, Digit6, Digit7, Digit8, Digit9, Digit0, LeftShift, RightShift, LeftAlt, AltGr, AltGr, LeftCtrl, RightCtrl, LeftWindows, LeftWindows, LeftWindows, LeftWindows, RightCommand, RightCommand, RightCommand, RightCommand, ContextMenu, Escape, LeftArrow, RightArrow, UpArrow, DownArrow, Backspace, PageDown, PageUp, Home, End, Insert, Delete, CapsLock, NumLock, PrintScreen, ScrollLock, Pause, NumpadEnter, NumpadDivide, NumpadMultiply, NumpadPlus, NumpadMinus, NumpadPeriod, NumpadEquals, Numpad0, Numpad1, Numpad2, Numpad3, Numpad4, Numpad5, Numpad6, Numpad7, Numpad8, Numpad9, F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12
# Setting type: String
# Default value: LeftAlt
FreeRotateKey = LeftAlt

## If SnapObjectsByDegrees > 0, configures which modifier key spins it CCW. Valid values: None, Space, Enter, Tab, Backquote, Quote, Semicolon, Comma, Period, Slash, Backslash, LeftBracket, RightBracket, Minus, Equals, A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z, Digit1, Digit2, Digit3, Digit4, Digit5, Digit6, Digit7, Digit8, Digit9, Digit0, LeftShift, RightShift, LeftAlt, AltGr, AltGr, LeftCtrl, RightCtrl, LeftWindows, LeftWindows, LeftWindows, LeftWindows, RightCommand, RightCommand, RightCommand, RightCommand, ContextMenu, Escape, LeftArrow, RightArrow, UpArrow, DownArrow, Backspace, PageDown, PageUp, Home, End, Insert, Delete, CapsLock, NumLock, PrintScreen, ScrollLock, Pause, NumpadEnter, NumpadDivide, NumpadMultiply, NumpadPlus, NumpadMinus, NumpadPeriod, NumpadEquals, Numpad0, Numpad1, Numpad2, Numpad3, Numpad4, Numpad5, Numpad6, Numpad7, Numpad8, Numpad9, F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12
# Setting type: String
# Default value: LeftShift
CounterClockwiseKey = LeftShift

## If set to true, the ship's map camera will rotate so that it faces north evenly, instead of showing everything at an angle.
# Setting type: Boolean
# Default value: false
ShipMapCamDueNorth = false

## If set to true, all useful tools (jetpacks, keys, radar boosters, shovels & signs, tzp inhalant, and zap guns) will no longer attract lighning.
# Setting type: Boolean
# Default value: false
ToolsDoNotAttractLightning = false

## How many seconds to wait in between button presses for the REGULAR teleporter. Vanilla = 10. Ignores values outside of 0 - 300.
# Setting type: Int32
# Default value: 10
RegularTeleporterCooldown = 10

## How many seconds to wait in between button presses for the INVERSE teleporter. Vanilla = 210. Ignores values outside of 0 - 300.
# Setting type: Int32
# Default value: 10
InverseTeleporterCooldown = 10

